<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PK_Finder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false; Switch.System.Windows.DoNotUsePresentationDpiCapabilityTier2OrGreater=false"  />
  </runtime>
  <userSettings>
    <PK_Finder.Properties.Settings>
      <setting name="VisualStyle" serializeAs="String">
        <value>MaterialLight</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoubleClickCopy" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CopyMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowDraggable" serializeAs="String">
        <value>True</value>
      </setting>
    </PK_Finder.Properties.Settings>
  </userSettings>
</configuration>
